<div class="container d-flex justify-content-between">
  <app-title [title]="title" class="col-3"></app-title>
  <app-toolbar [badgeValue]="collaborateur.nbrNotifications"
               [name]="collaborateur.prenom+' '+collaborateur.nom"
               [imageSrc]="collaborateur.photoProfilSrc" class="col-4 p-0">

  </app-toolbar>
</div>
