<div class="container-fluid">
  <div class="row">
    <div class="col-1 d-flex justify-content-end pt-1">
      <img class="" src="{{imgSrc}}">
    </div>
    <h5 class="font-weight-bold align-self-start mr-4">{{titre}}</h5>
    <p class="align-self-end"><small><a class="title_details align-content-end" href="#"><u>Voir tout</u></a></small></p>
  </div>
</div>
