<div class="list-group container p-4">
  <app-list-header class="row" titre="Mes demandes"></app-list-header>
  <app-searchbar class="row"></app-searchbar>
  <div class="row">
    <div class="col-12 mb-3">
      <app-request-title titre="Mes demandes de documents" imgSrc="assets/imgs/document.png"></app-request-title>
      <div *ngFor="let demande of demandes">
        <app-request-item *ngIf="demande.type == 'document'" [demande]="demande" class="mb-2"></app-request-item>
      </div>
    </div>
    <div class="col-12 mb-3">
      <app-request-title titre="Mes demandes de congés" imgSrc="assets/imgs/summer-holidays.png"></app-request-title>
      <div *ngFor="let demande of demandes">
        <app-request-item *ngIf="demande.type == 'conges'" [demande]="demande"></app-request-item>
      </div>
    </div>
    <div class="col-12">
      <app-request-title titre="Mes demandes d'absences" imgSrc="assets/imgs/absent.png"></app-request-title>
      <div *ngFor="let demande of demandes">
        <app-request-item *ngIf="demande.type == 'absences'" [demande]="demande"></app-request-item>
      </div>
    </div>
  </div>
</div>
