<div class="list-group container p-4">
  <app-list-header class="row" titre="Mes évènements"></app-list-header>
  <app-searchbar class="row"></app-searchbar>
  <div class="row ">
    <button type="button" class="btn btn-primary btn-sm mr-4">
      Les évènements de la semaine
    </button>
    <button type="button" class="btn btn-outline-primary btn-sm">
      Les évènements de la semaine
    </button>
  </div>
  <app-event-item *ngFor="let evenement of evenements" [evenement]="evenement"
                  class="row mb-2 mt-2 align-self-start"></app-event-item>

</div>
