<div class="card container">
  <div class="row no-gutters ">
    <div class="col-4 align-self-center p-0">
      <img class="img-fluid img-thumbnail" src="{{evenement.imageSrc}}" class="card-img" alt="...">
    </div>
    <div class="col-6">
      <div class="card-body">
        <h4 class="card-title font-weight-bold">{{evenement.titre}}</h4>
        <p class="text_description"><small>{{evenement.description}}</small></p>
        <p class="card-text">
          <small class="text-muted mr-4">{{evenement.date}}</small>
          <small class="text-muted">{{evenement.duree}}</small>
          <small class="text-muted"><br>{{evenement.lieu}}</small>
        </p>
      </div>
    </div>
    <div class="col-2 h-100 w-100 d-flex flex-column justify-content-center">
      <button type="button" class="btn btn-primary row w-100 mb-3 btn-sm card_button">Voir plus</button>
      <button type="button" class="btn btn-outline-primary row w-100 btn-sm card_button">Annuler</button>
    </div>
  </div>
</div>
