<div class="container-fluid">
  <div class="row">
    <div class="col-2 bg-white">
      <app-navbar></app-navbar>
    </div>
    <div class="col-10 content">
      <app-header class="row p-0 mt-3" [index]="0"></app-header>
      <div class="row">
        <div class="col-4">
          <app-myrequests-list [collaborateurId]="0"></app-myrequests-list>
        </div>
        <div class="col-8">
          <app-myevents-list [collaborateurId]="0"></app-myevents-list>
        </div>
      </div>
    </div>
  </div>
</div>
